@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

p {
  margin: 2px;
}

button {
  font-family: 'VT323';
  text-transform: uppercase;
}

img {
  image-rendering: pixelated;
}

.type-box {
  border-radius: 5px 5px 5px;
  padding: 2px;
  margin: 1px;
  color: white;
}

.info-card-wrapper {
  width: 80%;
  display: grid;
  justify-items: center;
  overflow-y: auto; 
  overflow-x: hidden;
  height: 80vh;
  max-height: 600px;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f42; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}