@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url(./assets/font/pokemon_pixel_font.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 92vh;
  font-family: "Pokemon Pixel Font Regular";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-image: linear-gradient(#bfd8db, #e3fcff);
  border: 1vh solid #ef3131;
  border-top-width: 7vh;
}

body:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 6.25vh;
  left: .1vh;
  right: .1vh;
  bottom: .1vh;
  border: 1.5vh solid #1b51c5;
}

.navbar {
  position: absolute;
  top: 0;
}

p {
  margin: 2px;
}

button {
  font-family: 'VT323';
  text-transform: uppercase;
}

img {
  image-rendering: pixelated;
}

.bg-logo {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 7vh;
  top: 0;
  left: 0;
  z-index: -4;
  background-image: url("./assets/img/bg_1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.power-indicators {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 30px 10px;
  position: relative;
  z-index: 2;
  outline: 3px solid black;
}

.outlined {
  color: white;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.shadowed {
  color: #585850;
  text-shadow: 2px 0 0 #a8b8b8, 0 1px 0 #a8b8b8;
}

.shadowed-black {
  color: white;
  text-shadow: 2px 0 0 #000, 0 2px 0 #000;
}

.entry-box {
  background-color: white;
  box-shadow: inset 0px 5px 0px 0px rgba(248,152,160,1);
}

.flavor-box {
  background-color: white;
  box-shadow: inset 0px 0px 0px 5px rgba(248,152,160,1);
  width: 90%;
  height: 100%;
  margin: auto;
}

/* Box surrounding typing labels */
.type-box {
  border-radius: 5px 5px 5px;
  padding: 2px;
  margin: 1px;
  color: white;
}

.info-card-wrapper {
  width: 80%;
  display: grid;
  justify-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  max-height: 600px;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

.info-card-wrapper img:hover {
  animation: shake 0.4s;
  animation-iteration-count: 1;
}

/* Sprite shake animation */
@keyframes shake {
  0% { transform: translate(-1px, -4px) rotate(-3deg); }
  15% { transform: translate(-1px, 0px) rotate(-7deg); }
  30% { transform: translate(-1px, 7px) rotate(-7deg); }
  45% { transform: translate(0px, 0px) rotate(-3deg); }
  60% { transform: translate(0px, -4px) rotate(0deg); }
  75% { transform: translate(1px, 0px) rotate(3deg); }
  90% { transform: translate(1px, 7px) rotate(7deg); }
  100% { transform: translate(1px, 0px) rotate(7deg); }
}

/* Landing page animation */
.open-right {
  animation: open-right-keyframes 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.open-left {
  animation: open-left-keyframes 1s;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  animation-iteration-count: 1;
}

@keyframes open-right-keyframes {
  0% {
    left: 10%;
   opacity: 1;
   }
   99% {
     left: 130%;
     opacity: 1;
   }
   100% {
     left: -130%;
     opacity: 0;
     display: none;
   }
}

@keyframes open-left-keyframes {
  from { right: 10% }
  to { transform: translateX(-130%) }
}

/* Panels for landing page animation */
.curtain__panel {
  background: #ef3131;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: all 1s ease-out;
}

.curtain__panel--left {
  background: #951021;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
}

.curtain__panel--right {
  border-radius: 30px;
  left: 10%;
  z-index: 2;
}

/* Makes screentone for background "screen" */
.halftone {
	background-image: linear-gradient(45deg, rgb(170, 192, 221) 25%, transparent 25%), 
        linear-gradient(-45deg, rgb(170, 192, 221) 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, rgb(170, 192, 221) 75%), 
        linear-gradient(-45deg, transparent 75%, rgb(170, 192, 221) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
	height: 100%;
	display: block;
	content: '';
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.entry-grid {
  background-size: 70px 70px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.486) 2px, transparent 2px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.486) 2px, transparent 2px);
}

.entry-toolbar-outer {
  background-color: #951021;
  cursor: pointer;
  box-shadow: 0rem 0.5rem #292929, 0rem 1.5rem #adadad, 0rem 2rem #cecece, 0rem 2.5rem #e7e7e7;
  mix-blend-mode: multiply;
}

.entry-toolbar-inner {
  background-color: #ef3131;
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  border: solid 4px #c82224;
  border-left-width: 10px;
  border-right-width: 10px;
}

.pixel-corners {
  position: relative;
  background-color: white;
  z-index: 1;
  box-shadow:   -3px 0 0 0 black,
                 3px 0 0 0 black,
                 0 -3px 0 0 black,
                 0 3px 0 0 black;
}

.pixel-shadow {
  mix-blend-mode: multiply;
  background-color: #c0c8d0;
  box-shadow:   -3px 0 0 0 #c0c8d0,
                 3px 0 0 0 #c0c8d0,
                 0 -3px 0 0 #c0c8d0,
                 0 3px 0 0 #c0c8d0;
}

.height-weight-box {
  padding: 0 20px 0 20px;
  text-align: right;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef3131;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 951021;
}