@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 2px;
}

button {
  font-family: 'VT323';
  text-transform: uppercase;
}

img {
  image-rendering: pixelated;
}

.type-box {
  border-radius: 5px 5px 5px;
  padding: 2px;
  margin: 1px;
  color: white;
}